In [37]:
import os
from glob import glob
import pandas as pd

In [42]:
model_output_files = glob('../experiments/final_answers/*demographics.tsv')
model_output_files

probe_df = pd.read_csv('../WorldValuesBench/probe/samples.tsv', sep='\t')
probe_df

,Question,Question Category,Continent,Urban / Rural,Education,D_INTERVIEW
0,Q1,"Social Values, Norms, Stereotypes",Asia,Urban,Upper to Post Secondary,156070594
1,Q1,"Social Values, Norms, Stereotypes",Asia,Urban,Upper to Post Secondary,586070648
2,Q1,"Social Values, Norms, Stereotypes",Asia,Urban,Upper to Post Secondary,410070706
3,Q1,"Social Values, Norms, Stereotypes",Asia,Urban,Upper to Post Secondary,400070152
4,Q1,"Social Values, Norms, Stereotypes",Asia,Urban,Upper to Post Secondary,398070007
...,...,...,...,...,...,...
8275,Q237,Political Culture and Political Regimes,Oceania,Rural,Tertiary,36071441
8276,Q237,Political Culture and Political Regimes,Oceania,Rural,Tertiary,36071623
8277,Q237,Political Culture and Political Regimes,Oceania,Rural,Tertiary,36070870
8278,Q237,Political Culture and Political Regimes,Oceania,Rural,Tertiary,36071128
8279,Q237,Political Culture and Political Regimes,Oceania,Rural,Tertiary,554070017

In [45]:
import math
column_mappings = {
    'Question': 'QUESTION_ID',
    'D_INTERVIEW': 'PARTICIPANT_ID',
    'Model Score': 'SCORE',
}
def format_files(filename):
    df = pd.read_csv(filename, sep='\t')
    df = df.rename(columns = column_mappings)
    
    other_cols = list(set(df.columns) - set(column_mappings.values()))
    df['SCORE'] = pd.to_numeric(df['SCORE'], errors='coerce')
    df['SCORE'] = df['SCORE'].astype('Int64')
    df = df.drop(other_cols, axis = 1)
    if 'PARTICIPANT_ID' not in df.columns:
        df['PARTICIPANT_ID'] = probe_df['D_INTERVIEW']
    base_filename = os.path.basename(filename)
    df = df[['QUESTION_ID', 'PARTICIPANT_ID', 'SCORE']]
    df.to_csv(f'model_outputs/{base_filename}', index=False, sep='\t')            
    return df
                      
for file in model_output_files:                    
    format_files(file)